sudo: false
language: android

android:
  components:
    - build-tools-27.0.3
    - android-26
    - android-24
    - sys-img-armeabi-v7a-android-24

before_script:
  # start the emulator early because it takes a long time to start up
  - echo no | android create avd --force -n test -t android-24 --abi armeabi-v7a
  - emulator -avd test -no-skin -no-window &
  
script:
  - ./gradlew assembleDebug
  - android-wait-for-emulator
  # sometimes the emulator is not actually ready yet when android-wait-for-emulator thinks it is
  - adb shell getprop sys.boot_completed
  - while [ "`adb shell getprop sys.boot_completed | tr -d '\r' `" != "1" ] ; do echo "waiting longer"; sleep 1; done
  - adb shell getprop dev.bootcomplete
  - while [ "`adb shell getprop dev.bootcomplete | tr -d '\r' `" != "1" ] ; do echo "waiting even longer"; sleep 1; done
  - adb shell getprop ro.build.version.sdk
  - while [ "`adb shell getprop ro.build.version.sdk | tr -d '\r' `" != "24" ] ; do echo "waiting even more longer"; sleep 1; done
  - adb shell input keyevent 82 &
  - ./gradlew assembleDebugAndroidTest
  - ./gradlew connectedCheck --stacktrace --debug

before_deploy:
  - echo $KEYSTORE_PASS_1 | gpg --passphrase-fd 0 pantsu.jks.gpg
  - ./gradlew assembleRelease
  - git tag v$(./gradlew -q printVersion)

deploy:
  provider: releases
  api_key: $GITHUB_OAUTH_TOKEN
  file: "app/build/outputs/apk/release/app-release.apk"
  skip_cleanup: true
  prerelease: true
  on:
    branch: master